# Obsidian specific
.obsidian/workspace
.obsidian/appearance.json
.obsidian/cache
.obsidian/graph.json
.obsidian/plugins/**/data.json
.obsidian/plugins/**/main.js
.obsidian/plugins/**/manifest.json
.obsidian/plugins/**/styles.css

# Optional: ignore all plugins and themes (uncomment if you don’t want them in git)
.obsidian/plugins/
.obsidian/themes/

# macOS specific (since você está usando macOS)
.DS_Store

# VS Code (caso use para editar os arquivos do vault)
.vscode/

# Node (caso use plugins que dependam de Node.js)
node_modules/

# json
*.json

# arquivos pessoais
MacApps/
Pesquisa/

#python
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# General
.DS_Store
.AppleDouble
.LSOverride
Icon[
]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
